<h1 id="page-h1">IPv4 Range to Prefix Converter</h1>

<div layout="row">
	<md-input-container class="md-block" flex="30">
		<label>IP address from</label>
		<input md-maxlength="15" required md-no-asterisk name="ipAddress" ng-model="addressInputs.ipAddress">
	</md-input-container>
	<md-input-container class="md-block" flex="30">
		<label>IP address to</label>
		<input md-maxlength="15" required md-no-asterisk name="ipAddress" ng-model="addressInputs.ipAddress">
	</md-input-container>
</div>

<div layout="row" flex="100">
	<md-button md-no-ink class="md-raised md-primary" ng-click="calculateRange();">Calculate</md-button>
</div>