<h1 id="page-h1">IPv4 Range to Prefix Converter</h1>

<div layout="row">
	<md-input-container class="md-block" flex="30">
		<label>IP address from</label>
		<input md-maxlength="15" required md-no-asterisk name="ipAddress" ng-model="addressInputsRange.ipAddressFrom">
	</md-input-container>
	<md-input-container class="md-block" flex="30">
		<label>IP address to</label>
		<input md-maxlength="15" required md-no-asterisk name="ipAddress" ng-model="addressInputsRange.ipAddressTo">
	</md-input-container>
</div>

<audio id="emp">
    <source src="./templates/40_smith_wesson_single-mike-koenig" type="audio/ogg">
</audio>

<div layout="row" flex="100">
	<md-button md-no-ink class="md-raised md-primary" ng-click="calculateRange();">Calculate</md-button>
	<a href="" id="csv"><md-button md-no-ink class="md-raised md-primary" ng-click="csvExport('range');">Export to CSV</md-button></a>
</div>

<table>
	<tr ng-repeat="item in rangeData">
		<td>{{item.ipLowStr + "/" + item.prefixSize }}</td>
		<td style="padding-left: 20px">{{item.prefixMaskStr}}</td>
	</tr>
</table>